:root{
    --branco: #ffffff;

    --preto: #4A4A4A;

    --verdeEscuro: #1FB83B;

    --verdeClaro: #9AE81C;

    --azul: #50B5A8;

    --amareloClaro: #FAE13C;

    --amareloEscuro: #CCB731;
    
    --tituloSerio: 'Alice', serif;
    --tituloFun: 'Chewy', cursive;
    --texto: 'Roboto', sans-serif;
}

body{
    background-color: var(--branco);
}
