

.cabecalho_box{

    color: var(--azul);
    font-family: var(--tituloSerio);
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 40px;
    text-decoration: underline;
    width: 1080px;
}

.cabecalho_box-moldura{

    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.cabecalho_logo{

    display: inline-flex;
}
.cabecalho_logo-img{

    background-size: contain;
    background-image: url("/IMG/logo.png");
    background-position: center;
    height: 200px;
    width: 200px;
}

.cabecalho_logo-linha, .cabecalho_nav-box{

    margin-top: calc(200px - 28px);
}

.cabecalho_nav-link{

    padding-left: 20px;
}

.cabecalho_nav-link:hover{

    color: var(--amareloEscuro);
    font-size: 30px;
}