

.cabecalho_box{

    color: var(--azul);
    font-family: var(--tituloSerio);
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 40px;
    text-decoration: underline;
    width: 1110px;
}

.cabecalho_box-moldura{

    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.cabecalho_logo{display: inline-flex;}

.cabecalho_logo-img{ width: 200px;}

.cabecalho_logo-linha, .cabecalho_nav-box{ 
    margin-top: calc(200px - 28px);
}

.cabecalho_nav-link{

    padding-left: 20px;
}

.cabecalho_nav-link:hover{

    color: var(--amareloEscuro);
    font-size: 30px;
}

@media screen and (max-width: 720px){

    .cabecalho_box{ 
        font-size: 20px;
        margin-top: 80px;
        width: 100vw;
    }

    .cabecalho_logo, .cabecalho_box-moldura{ display: block;}

    .cabecalho_logo-img{
        height: 40%;
        padding: 0 30%;
        width: 40%;
    }

    .cabecalho_logo-linha, .cabecalho_nav-box{ margin-top: 20px;}

    .cabecalho_logo-img{ margin: 0 auto; }

    .cabecalho_logo-texto{
        margin-bottom: 20px;
        text-align: center;
    }

    .cabecalho_nav-box{
        margin: 0 auto; 
        width: fit-content;
    }

    .cabecalho_nav-link{
        
        margin: 0 10px;
        padding: 0;
    }

    .cabecalho_nav-link:hover{ font-size: 25px}
}