
.cabecalho_box{

    font-family: var(--tituloSerio);
    font-size: 32px;
    font-weight: bold;
    color: var(--azul);
    max-height: calc(200px + 38px);
    height: auto;
    max-width: 1290px;
    margin: 0 auto;
    padding-top: 20px;
    text-decoration: underline;
    width: auto;
}
.cabecalho_itens{

    display: inline-flex;
    margin: auto auto;
    width: 100%;
    justify-content: space-around;
}

.cabecalho_itens-item, .cabecalho_itens-nav,.cabecalho_logo{

    display: inline-flex;
    max-height: fit-content;
    height: auto;
}

.cabecalho_logo-texto{

    padding-top: calc(200px - 38px)
}
.cabecalho_logo-img{

    height: 200px;
    width: 200px;
}

.cabecalho_itens-link{

    padding: calc(200px - 38px) 25px;
}

.cabecalho_itens-link:hover{

    color: var(--amareloEscuro);
    cursor: pointer;
    font-size: 42px;
}