
.dicas_passos{

    padding-top: 10px;
    margin: 0 auto;
    width: 95%;
}
.dicas_passo-quadro{

    color: var(--preto);
    font-family: var(--texto);
    font-size: 14px;
    height: 157px;
    margin: 7px auto;
    text-align: justify;
    vertical-align: middle;
    width: 90%;
}

.dicas_passo-itemVertical{ position: relative;}

.dicas_passo-paisagem{
    position: relative;
    top: -10px;
    width: 100%;
}

.dicas_passo-listaHorizontal{

    display: inline-flex;
    justify-content: space-between;
}

.dicas_passo-item{

    margin-top: 20px;
    padding: 5px;
    width: 45%;
}

.dicas_passo-retrato{

    background-size: cover;
    background-position: center;
    height: 120px;
    position: relative;
    top: -20px;
}

.dicas_passo-texto{

    position: relative;
    top: -50px;
}
.dicas_passo-fig{

    width: 100px;  
}