.video{

    position: relative;
    padding-top: 35px;

}
.video_box{

    margin: 0 auto;
    max-width: 1500px;
    padding: 10px;
    width: auto;
}

.video_box-moldura{

    background-color: var(--amareloEscuro);
    margin: 0 auto;
    padding: 20px;
    width: fit-content;
}

.video_video{

    height: 600px;
    width: 1080px;
}